h2{
    text-align: center;
    color: blue;
    font-size: 35px;
}
p{
    text-align: center;
    color: red;
    font-size: 20px;
    margin: 5%;
}
img{
    border-radius: 20px;
    margin-left: 45%;
}
ul{
    background-color: green;
    width: 150px;
}
li{
    font-size: 20px;
    text-decoration: underline;
    margin: 15px;
    color: white;
}